$nav-bg: #FAB94E;
$nav-hover: #BD8F20;
$active-tab: #f4ac04;


.logo {
  img {
    height: 200px;
    width: 100%;
  }
}

.header {
  align-items: center;
  display: flex;
  flex-flow: column;
  font-family: 'Niconne', cursive;
  font-weight: normal;
  justify-content: space-evenly;
  padding: 25px 0;
  text-align: center;
  > span:first-child {
    font-size: 32px;
  }

  span > span {
    color: red;
  }
}

.side-nav {
  flex: 0 0 100%;
  background-color: $nav-bg;
  nav {
    background-color: $nav-bg;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
  li a {
    text-align: center;
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px;
  }  

  a:hover {
    background-color: $active-tab;
  }

  .selected {
    background-color: $nav-hover;
  }
}

.copy-right {
  font-size: 10px;
  text-align: center;
  img {
    height: 10px;
  }
}

.right-content {
  background-color: #F7F7F7;
}

.content {
  background-color: #F7F7F7;
}

@media only screen and (max-width: 991px) {
  .main-container {
    display: flex;
    flex-flow: row wrap;
  }
  .right-content {
    flex: 0 0 100%;
  }

}

// Tablets &
//desktops
@media only screen and (min-width: 992px) {

  .right-content {
    height: 100%;
    width: 80%;
    float: right;
  }

  .top-header {
    position: fixed;
    top: 0;
    z-index: 1;
    background: white;
    width: 80%;
    height: 114px;
  }

  .logo {
    img {
      height: 114px;
    }
  }
  .main-container {
    height: 100%;
  }

  .side-nav {
    width: 20%;
    float: left;
    height: 100%;
    position: fixed;
    width: 18%;
  }
  .header {
    display: flex;
    flex-flow: row wrap;
  }
  .content {
    margin-top: 113px;
  }
}