
.contact {
  h4 {
    text-align: center;
  }

  .cards {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
  .card {
    padding: 25px;
    width: 90%;
    text-align: center;
    box-shadow: 0 1px 2px rgba(38,40,42,.3);
    background-color: white;
    height: 250px;
    div:first-of-type {
      font-weight: bold;
    }

    img {
      height: 50px;
      width: 50px;
    }
  }

  @media only screen and (min-width: 992px) {
    .cards {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }

    .card {
      flex: 0 0 45%;
    }
  }
}

