$nav-bg: #FAB94E;
$nav-hover: #BD8F20;
$active-tab: #f4ac04;

.home {
  div:first-of-type {
    align-self: center;
  }
}

.home article {
  padding: 15px;
  background: white;
  box-shadow: 0 1px 2px rgba(38,40,42,.3);
  border-left: 0;
  a {
    padding-left: 10px;
  }
}

.carousel-container {
  width: 100%;
}
// Tablets
//desktops
@media only screen and (min-width: 900px) {
  .home {
    height: 100%;
    display: flex;
    flex-flow: column;
  }

  .carousel-container {
    width: 70%;
  }
}