$nav-bg: #FAB94E;
$nav-hover: #BD8F20;
$active-tab: #f4ac04;

.home {
  div:first-of-type {
    align-self: center;
  }
}

.home article {
  padding: 15px;
  background: white;
  box-shadow: 0 1px 2px rgba(38,40,42,.3);
  border-left: 0;
  a {
    padding-left: 10px;
  }
  align-self: center;
  margin-top: 10px;
  p:first-child {
    font-weight: bold;
    color: purple;
  }
}

.carousel-container {
  width: 100%;
  box-shadow: 0 1px 2px rgba(38, 40, 42, 0.3);
}

.c-img {
  width: 100%;
  height: 300px;
}

.product-links {
  > div:first-child {
    color: purple;
    margin: 10px 0;
    box-shadow: 0 1px 2px rgba(38, 40, 42, 0.3);
    background-color: white;
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }

  .thumbnails {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    a > div {
      display: flex;
      flex-flow: column;
      margin: 5px 5px 5px 0;
      width: 150px;
      height: 100px;
      box-shadow: 0 1px 2px rgba(38, 40, 42, 0.3);
      background-color: white;

      > p {
        color:black;
        text-decoration: underline;
        text-align: center;
        margin: 0;
        padding: 0;
      }
      img {
        height: 60px;
        width: 100px;
      }
    }
  }
}
// Tablets
//desktops
@media only screen and (min-width: 900px) {
  .home {
    display: flex;
    flex-flow: column;
    padding: 5px;
  }

  .carousel-container {
    width: 100%;
  }
}