@charset "UTF-8";
$nav-bg: #FAB94E;
$nav-hover: #BD8F20;
$active-tab: #f4ac04;

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "Cabin", Arial, Geneva, sans-serif;
  background-repeat: no-repeat;
  background-size: auto;
	margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Niconne', cursive;
  font-weight: normal;
}

.p10 {
  padding: 10px;
}

.pl10 {
  padding-left: 10px;
}

.pr10 {
  padding-right: 10px;
}

.m10 {
  margin: 10px;
}


.sub-heading {
  color: purple;
  font-size: 1.5em;
  margin: 0;
}


#root {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.box-shadow {
  box-shadow: 0 1px 2px rgba(38,40,42,.3);
}
